global:
  resolve_timeout: 5m

route:
  receiver: 'webhook'
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 3h

receivers:
  - name: 'webhook'
    webhook_configs:
      - url: 'http://host.docker.internal:8100/api/alerts'
        send_resolved: true
